<p>
  <b>Id:</b>
  <%=h @issue.id %>
</p>

<p>
  <b>Email:</b>
  <%=h @issue.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @issue.phone %>
</p>

<p>
  <b>Status:</b>
  <%=h @issue.status %>
</p>

<p>
  <b>Duedate:</b>
  <%=h @issue.dueDate %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>